<div class="presentation">
    <div class="presentation_titre">BornToMap</div>
    <div class="presentation_texte">
        Bienvenue sur la page d'accueil de notre projet informatique portant sur les véhicules électriques et les infrastructures de recharge. Nous sommes une équipe de 7 membres, comprenant DELAPART Thomas, GOARDOU Fabien, LE LAN Quentin, MORVAN Arthur, PICAUD Tom, SAUVAT Bastien et TSAGAAN Tergel.
    <br><br>
    Notre projet s'inscrit dans le cadre de l'université OpenData, soutenue par le projet interministériel du gouvernement français. Notre objectif principal est de visualiser les bornes de recharge électriques en France, ainsi que d'analyser et de comprendre leur évolution au fil du temps.
    <br><br>
    Nos principales fonctionnalités comprennent la gestion des problèmes de qualité des données, la visualisation des infrastructures de recharge sur une carte et l'analyse de leur évolution, avec différentes perspectives telles que la taille de la population, le nombre de voitures, l'intensité du trafic…
    Ces fonctionnalités sont destinées à aider les futurs propriétaires de voitures électriques et les décideurs à mieux comprendre l'évolution des infrastructures de recharge et à prendre des décisions éclairées en conséquence.
    <br><br>
    Nous sommes fiers de présenter notre projet et sommes impatients de voir comment il pourra contribuer à l'essor des véhicules électriques et des infrastructures de recharge en France et au-delà.

    <br><br>
    Fonctionnalités disponibles / implémentées :
    <ol>
        <li>lancement du projet avec Docker</li>
        <li>données basées sur dataset : bornes de recharges et voitures électriques par commune</li>
        <li>clustering</li>
        <li>analyse de données et graphiques</li>
        <li>filtres sur la carte </li>
        <li>géolocalisation</li>
        <li>réglages des bugs sur la première version</li>
    </ol>
    </div>
</div>