<mat-drawer #drawer class="sidenav" mode="side">
  <div *ngIf="borne !== undefined">
    <div class="d-flex m-2">
      <hr class="mt-4 w-100"/>
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon color="primary">cancel_outline</mat-icon>
      </button>
    </div>
    <div class="borne-info mx-3">
      <div class="title">
        <p class="location"> {{borne.station.address}} </p>
        <h2 class="name"> {{borne.station.nom}} </h2>
        <p class="date-mise-service"> {{borne.miseEnService.toLocaleDateString()}} </p>
      </div>
      <p>Type: {{borne.priseType}}</p>
      <p> <strong> Horaires de disponibilités: </strong></p>
      <ul>
        <li> {{borne.horaires}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="borne === undefined">
    No borne selected
  </div>
</mat-drawer>
