<mat-drawer #drawer class="sidenav" mode="side">
  <div *ngIf="borne !== undefined">
    <div class="d-flex m-2">
      <hr class="mt-4 w-100"/>
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon color="primary">cancel_outline</mat-icon>
      </button>
    </div>
    <div class="borne-info mx-3">
      <div class="title">
        <h2 class="name"> {{borne.station.nom}} </h2>
      </div>
      <div>
        <p class="date-mise-service"> {{borne.miseEnService || "No date"}} </p>
        <div class="location">
          <p> {{borne.station.address}} </p>
          <p class="location-address"> {{borne.ville.commune}} {{borne.ville.code_postale}} <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{borne.coordonnees.latitude}},{{borne.coordonnees.longitude}}"><mat-icon class="google-direction" fontIcon="directions"></mat-icon></a> </p>
        </div>
        <hr>
        <p><strong>Types de prise :</strong></p>
        <ul>
          <li *ngFor="let b of borne.priseType">{{b.name}}</li>
        </ul>
      </div>
      <p> <strong> Horaires de disponibilités : </strong> {{borne.horaires}}</p>
    </div>
  </div>
  <div *ngIf="borne === undefined">
    Loading...
  </div>
</mat-drawer>
