<mgl-map
  [style]="'mapbox://styles/mapbox/dark-v11'"
  [zoom]="[9]"
  [ngClass]="{loading: loadingMap}"
  [center]="center"
  (mapLoad)="mapInit($event)"
>
  <!--
  <div *ngFor="let point of borne">
    <mgl-marker [lngLat]="[point.longitude,point.latitude]" >
      <div class="marker" (click)="giveInfo(point)"></div>
    </mgl-marker>
  </div>
  -->
  <mgl-geojson-source id="symbols-source" [cluster]="clusterEnabled" [clusterMaxZoom]="8" [clusterRadius]="50">
  </mgl-geojson-source>
  <mgl-layer
    id='ville-layer'
    type='fill'
    source= 'city-source'
    [paint]= '{
  "fill-color": ["rgb", 200, 200, 200],
  "fill-opacity": 0.5
  }'
    (layerClick)="giveDeptInfo($event)"
  >
  </mgl-layer>
  <mgl-layer
    id="clusters"
    type="circle"
    source="symbols-source"
    [filter]="['has', 'point_count']"
    [paint]="{
      'circle-color': [
        'step',
        ['get', 'point_count'],
        '#51bbd6',
        100,
        '#f1f075',
        750,
        '#f28cb1'
      ],
      'circle-radius': [
        'step',
        ['get', 'point_count'],
        20,
        100,
        30,
        750,
        40
      ]
    }"
  >
  </mgl-layer>

  <mgl-layer
    id="cluster-count"
    type="symbol"
    source="symbols-source"
    [filter]="['has', 'point_count']"
    [layout]="{
      'text-field': ['get', 'point_count_abbreviated'],
      'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
      'text-size': 12
    }"
  >
  </mgl-layer>
  <mgl-layer
    id="unclustered-point"
    type="circle"
    source="symbols-source"
    [filter]="['!', ['has', 'point_count']]"
    [paint]="{
      'circle-color': ['get', 'color'],
      'circle-radius': 6,
      'circle-stroke-width': 1,
      'circle-stroke-color': '#fff'
    }"
    (layerClick)="giveInfo($event)"
  >
  </mgl-layer>
</mgl-map>
<app-timeline  [begin]="begin" [end]="end" (changed)="changeData($event)"></app-timeline>
<app-map-settings></app-map-settings>
